*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

header{
    background-color: rgb(222, 222, 255);
}

#primeiroa{
    background-color: rgb(183, 183, 252);
    height: 200px;
    padding-top: 20px;
}

#segundoa{
    background-color: rgb(148, 148, 255);
    height: 200px;
    padding-top: 20px;
}

#segundob{
    background-color: rgb(117, 117, 255);
    height: 200px;
    padding-top: 20px;
}

#terceiroc{
    background-color: rgb(99, 99, 216);
    height: 200px;
    padding-top: 20px;
}

#terceirod{
    background-color: rgb(79, 79, 187);
    height: 200px;
    padding-top: 20px;
}

.logotipo{
    height: 200px;
}

.menu{
    background-color: blue;
    padding: 15px;
}

.menu a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(95, 151, 230);
    transition: 0.3;
    padding: 5px;
}

.menu a:hover{
    color: blue;
    text-decoration: underline;
    background-color: brown;
    border-radius: 3px;
}

.menu li{
    display: inline;
    padding: 15px;
}

.texto_1{
    background-color: rgb(161, 161, 255);
    margin: 0 50px 0 50px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
}

.texto_1:hover{
    background-color: rgb(42, 120, 165);
}

.texto_1 p{
    /* border: solid rgb(243, 161, 161) 2px; */
    text-align: center;
}
